@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css");
:root {
  --primary: #1570EF;
  --primary-light: #EFF8FF;
  --secondary: #7F56D9;
  --secondary-light: #F4EBFF;
  --secondary-thin: #F9F5FF;
  --body-color: #475467;
  --heading-color: #101828;
  --bs-gray: #F2F4F7;
  --light-gray: #D0D5DD;
  --thin-gray: #F9FAFB;
  --bs-btn-hover-border-color: #125dc8;
  --inter: "Inter";
}

html {
  overflow-x: var(--hidden);
  scroll-behavior: smooth;
}

body {
  color: var(--body-color);
  font-size: 1rem;
  font-family: var(--inter);
  line-height: 1;
  min-width: 375px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.pad-header {
  padding-top: 11.438rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--inter);
  line-height: normal;
  color: var(--heading-color);
  margin: 0;
  font-weight: 600;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  letter-spacing: -0.2px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #175CD3;
}

figure {
  margin: 0;
}

p {
  line-height: 32px;
  margin: 0;
}

.alert {
  line-height: 24px;
}

.btn {
  text-align: center;
  position: relative;
  --bs-btn-border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 16px 28px;
}
.btn.btn-primary, .btn.btn-outline-primary {
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-bg: var(--bs-btn-hover-border-color:);
}
.btn.btn-outline-primary {
  background-color: var(--bs-white);
  color: var(--body-color);
  border-color: var(--light-gray);
}
.btn.btn-outline-primary:hover {
  background-color: var(--primary);
  color: var(--bs-white);
  border-color: var(--primary);
}
.btn.btn-shadow {
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1215686275);
}
.btn span {
  display: var(--block);
}

.btn-group {
  gap: 0.75rem;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:nth-child(n+3), .btn-group > :not(.btn-check) + .btn {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn.dropdown-toggle-split:first-child,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.badge {
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary);
  margin-bottom: 1rem;
  border-radius: 100px;
}
.badge.success {
  background-color: #ECFDF3;
  color: #027A48;
}

.header p {
  font-size: 20px;
  max-width: 767px;
  margin: auto;
}

.pad-sec {
  padding-block: 5.938rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: auto;
  padding-block: 4.25rem;
}
.accordion .accordion-item {
  color: var(--heading-color);
  background-color: var(--bs-accordion-bg);
  border: 0;
  border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.accordion .accordion-item:last-child {
  border-bottom: 0;
}
.accordion .accordion-body {
  padding: 0 0 1.5rem 0;
}
.accordion .accordion-button:not(.collapsed) {
  color: var(--heading-color);
  background-color: transparent;
  box-shadow: none;
}
.accordion .accordion-button {
  font-size: 18px;
  font-weight: 500;
  padding: 1.5rem 0;
}
.accordion .accordion-button::after {
  height: 23px;
}
.accordion .accordion-button:not(.collapsed)::after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMiAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcgMTEuNzVIMTVNMjEgMTEuNzVDMjEgMTcuMjcyOCAxNi41MjI4IDIxLjc1IDExIDIxLjc1QzUuNDc3MTUgMjEuNzUgMSAxNy4yNzI4IDEgMTEuNzVDMSA2LjIyNzE1IDUuNDc3MTUgMS43NSAxMSAxLjc1QzE2LjUyMjggMS43NSAyMSA2LjIyNzE1IDIxIDExLjc1WiIgc3Ryb2tlPSIjOThBMkIzIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K);
}
.accordion .accordion-button.collapsed::after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMiAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExIDcuNzVWMTUuNzVNNyAxMS43NUgxNU0yMSAxMS43NUMyMSAxNy4yNzI4IDE2LjUyMjggMjEuNzUgMTEgMjEuNzVDNS40NzcxNSAyMS43NSAxIDE3LjI3MjggMSAxMS43NUMxIDYuMjI3MTUgNS40NzcxNSAxLjc1IDExIDEuNzVDMTYuNTIyOCAxLjc1IDIxIDYuMjI3MTUgMjEgMTEuNzVaIiBzdHJva2U9IiM5OEEyQjMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
}

.g-4, .gy-4 {
  --bs-gutter-y: 2rem;
}

.badge-dot {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  line-height: normal;
}
.badge-dot:before {
  content: "";
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 100px;
}

.badge-design {
  color: var(--primary);
  background-color: var(--primary-light);
}
.badge-design:before {
  background-color: var(--primary);
}

.badge-software {
  color: #C11574;
  background: #FDF2FA;
}
.badge-software:before {
  background: #EE46BC;
}

.badge-success {
  color: #027A48;
  background: #ECFDF3;
}
.badge-success:before {
  background: #027A48;
}

.input-group {
  min-height: 48px;
  max-width: 320px;
  margin: auto;
  width: 100%;
}
.input-group .input-group-text {
  background: transparent;
  padding-right: 0;
  padding-left: 1rem;
  border-radius: 8px;
}
.input-group input {
  border-left: 0;
  border-radius: 8px;
}

.form-control:focus {
  border-color: #ced4da;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0);
}

/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
header {
  padding-block: 1.157rem;
  position: fixed;
  inset-inline: 0;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid var(--bs-gray);
  background-color: var(--bs-white);
}
header .navbar {
  gap: 2.5rem;
}
header .navbar ul.main-menu {
  display: flex;
  gap: 2rem;
  padding: 0;
}
header .navbar ul.main-menu a {
  display: block;
  font-weight: 600;
  color: var(--body-color);
  text-transform: capitalize;
}
header .navbar ul.main-menu a:hover {
  color: var(--bs-link-hover-color);
}
header .navbar ul.main-menu a.dropdown-toggle {
  padding-right: 1.5rem;
}
header .navbar ul.main-menu a.dropdown-toggle::after {
  content: "";
  border: 0;
  height: 8px;
  width: 12px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDEuNUw2IDYuNUwxMSAxLjUiIHN0cm9rZT0iIzQ3NTQ2NyIgc3Ryb2tlLXdpZHRoPSIxLjY2NjY3IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==);
  position: absolute;
  inset-block: 0;
  margin: auto;
  right: 0;
}
header .navbar ul.main-menu .dropdown-menu {
  padding: 0;
  overflow: hidden;
  left: 0;
  top: 3rem;
}
header .navbar ul.main-menu .dropdown-menu a {
  padding: 1rem;
  border-bottom: 1px solid #f2f2f2;
  color: var(--dark);
  font-size: 14px;
  transition: all 0.5s;
}
header .navbar ul.main-menu .dropdown-menu a:hover {
  background-color: var(--primary);
  color: var(--bs-white);
}
header .btn {
  padding: 10px 18px;
  font-size: 1rem;
}
header .btn.btn-outline-primary {
  color: var(--body-color);
  border: 0;
}

.banner .content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.banner .content .badge {
  margin-bottom: 0;
}
.banner .content .btn-group {
  display: -webkit-inline-box;
  margin: auto;
  margin-bottom: 2.5rem;
}
.banner .content .feature {
  padding: 4px 10px 4px 4px;
  background: var(--secondary-thin);
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
  max-width: 381px;
  margin: auto;
}
.banner .content .feature small {
  font-size: 14px;
  text-align: center;
  padding: 2px 10px;
  background: #fff;
  border-radius: 10px;
}
.banner .content .feature a {
  color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.banner .content p {
  font-size: 20px;
  max-width: 768px;
  margin: auto;
}

.partner {
  position: relative;
}
.partner:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--bs-gray);
  inset-inline: 0;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  bottom: 0;
}
.partner .content ul {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  flex-wrap: wrap;
}
.partner .content p {
  margin-bottom: 1.875rem;
  font-weight: 500;
}

.card-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  padding: 1.25rem;
}
.card-box p {
  line-height: 24px;
}
.card-box figure {
  width: 48px;
  height: 48px;
  background: var(--secondary-light);
  border: 8px solid var(--secondary-thin);
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.card-box a {
  color: var(--primary);
}

.why .content .header {
  text-align: center;
  margin-bottom: 4rem;
}
.why .content .header h2 {
  margin-bottom: 1.25rem;
}

.app {
  background-color: var(--thin-gray);
}
.app .content {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  align-items: center;
  text-align: center;
}
.app .content p {
  font-size: 20px;
  font-weight: 600;
}
.app .content .btn-group {
  gap: 5.125rem;
}
@media (max-width: 767px) {
  .app .content {
    flex-direction: column-reverse;
  }
}

.analytics {
  position: relative;
}
.analytics:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--bs-gray);
  inset-inline: 0;
  bottom: 0;
  max-width: 1440px;
  margin: auto;
  width: 100%;
}
.analytics .content .header {
  margin-bottom: 4rem;
}
.analytics .content .header .badge {
  background-color: var(--secondary-thin);
}
.analytics .content .header h2 {
  margin-bottom: 1.25rem;
}
.analytics .content .header p {
  max-width: 768px;
  margin: auto;
}
.analytics .content .body {
  margin-bottom: 9.688rem;
}
@media (max-width: 767px) {
  .analytics.home {
    padding-top: 0 !important;
  }
  .analytics.home .content {
    display: flex;
    flex-direction: column;
  }
  .analytics .body {
    order: 1;
  }
  .analytics .header {
    order: 2;
  }
  .analytics .footer {
    order: 3;
  }
}

.faq .header {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.faq .footer .cta {
  background-color: var(--thin-gray);
  border-radius: 16px;
  padding: 2rem;
  text-align: center;
}
.faq .footer .cta h3 {
  margin-bottom: 0.5rem;
}
.faq .footer .cta figure {
  margin-bottom: 2rem;
}
.faq .footer .cta a {
  padding: 0.6rem 0.85rem;
  margin-top: 2rem;
  font-size: 1rem;
}
.faq.comparsionFaq {
  background: #F9FAFB;
}
.faq.comparsionFaq .footer .cta {
  background: #fff;
}
.faq.comparsionFaq .accordion {
  background: transparent;
}
.faq.comparsionFaq .accordion .accordion-item {
  background: transparent;
}
.faq.comparsionFaq .accordion .accordion-item .accordion-button {
  background: transparent;
}

.cta {
  background-color: var(--thin-gray);
}
.cta .content {
  text-align: center;
}
.cta .content h2 {
  margin-bottom: 1.25rem;
}
.cta .content .btn-group {
  margin-top: 2.5rem;
}
.cta .content .btn-group a {
  padding: 10px 14px;
  font-size: 1rem;
}
.cta .content form .form-text,
.cta .content form .form-text a {
  font-size: 14px;
  color: var(--body-color);
}
.cta .content form input {
  font-size: 1rem;
  min-height: 48px;
}
.cta .content form .btn {
  padding-block: 11px;
  font-size: 1rem;
  margin: 0;
  border: 1px solid var(--primary);
}

footer .footer {
  padding-block: 4rem;
  position: relative;
}
footer .footer::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--bs-gray);
  inset-inline: 0;
  bottom: 0;
  max-width: 1440px;
  margin: auto;
  width: 100%;
}
footer .footer .widget h5 {
  margin-bottom: 1rem;
  color: #667085;
}
footer .footer .widget ul {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
footer .footer .widget ul li a {
  font-size: 1rem;
  color: var(--body-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
footer .footer .widget ul li a:hover {
  color: var(--primary);
}
footer .footer .widget ul li a .badge {
  font-size: 12px;
  margin: 0;
}
footer .copyright {
  padding-block: 2.5rem;
}
footer .footer.footerFaq {
  background: #F9FAFB;
}
footer.footerContact .footer ul li a {
  color: #175CD3;
}
footer.footerContact .copyright a {
  color: #667085;
}

/*inner  page css*/
/*pricing*/
.pricing .head {
  margin-bottom: 5.938rem;
}
@media (max-width: 767px) {
  .pricing .head {
    margin-bottom: 2.5rem;
  }
}
.pricing .head span {
  padding: 0;
}
.pricing .head h1 {
  margin-bottom: 1rem;
}
.pricing .content {
  margin-bottom: 5.938rem;
  position: relative;
}
.pricing .content .pkg-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: #FFFFFF;
  border: 1px solid #EAECF0;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 16px;
  padding: 2.5rem 2rem 2rem 2rem;
  height: 100%;
  position: relative;
}
.pricing .content .pkg-box .pkg-badge {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  position: absolute;
  right: 1rem;
  bottom: calc(100% - 1.2rem);
}
.pricing .content .pkg-box .pkg-badge strong {
  color: var(--secondary);
}
.pricing .content .pkg-box .pkg-badge svg {
  padding: 0.3rem 0;
}
@media (max-width: 767px) {
  .pricing .content .pkg-box .pkg-badge {
    position: static;
    margin-left: auto;
    margin-top: -27px;
    margin-bottom: -2rem;
  }
}
.pricing .content .pkg-box .pkg-head h2 {
  font-size: 48px;
  margin-bottom: 1rem;
}
.pricing .content .pkg-box .pkg-head strong {
  display: block;
  font-size: 20px;
  margin-bottom: 0.5rem;
  color: var(--heading-color);
}
.pricing .content .pkg-box .pkg-head small {
  font-size: 1rem;
}
.pricing .content .pkg-box .pkg-body {
  width: 100%;
}
.pricing .content .pkg-box .pkg-body ul li {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
  position: relative;
  line-height: 24px;
}
.pricing .content .pkg-box .pkg-body ul li:after {
  content: "";
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiByeD0iMTIiIGZpbGw9IiNEMUZBREYiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNy4wOTY0IDcuMzg5NjdMOS45MzY0MSAxNC4yOTk3TDguMDM2NDEgMTIuMjY5N0M3LjY4NjQxIDExLjkzOTcgNy4xMzY0MSAxMS45MTk3IDYuNzM2NDEgMTIuMTk5N0M2LjM0NjQxIDEyLjQ4OTcgNi4yMzY0MSAxMi45OTk3IDYuNDc2NDEgMTMuNDA5N0w4LjcyNjQxIDE3LjA2OTdDOC45NDY0MSAxNy40MDk3IDkuMzI2NDEgMTcuNjE5NyA5Ljc1NjQxIDE3LjYxOTdDMTAuMTY2NCAxNy42MTk3IDEwLjU1NjQgMTcuNDA5NyAxMC43NzY0IDE3LjA2OTdDMTEuMTM2NCAxNi41OTk3IDE4LjAwNjQgOC40MDk2NyAxOC4wMDY0IDguNDA5NjdDMTguOTA2NCA3LjQ4OTY3IDE3LjgxNjQgNi42Nzk2NyAxNy4wOTY0IDcuMzc5NjdWNy4zODk2N1oiIGZpbGw9IiMxMkI3NkEiLz4KPC9zdmc+Cg==);
  width: 24px;
  height: 24px;
  position: absolute;
  inset-block: 0;
  left: 0;
  margin: auto;
}
.pricing .content .pkg-box .pkg-body ul li:last-child {
  margin-bottom: 0;
}
.pricing .content .pkg-box .pkg-footer {
  width: 100%;
}
.pricing .content .pkg-box .pkg-footer .btn-group {
  flex-direction: column;
  width: 100%;
}
.pricing .btn {
  padding: 11px 28px;
  font-size: 1rem;
}
.pricing .footer .pkg-cta a {
  max-width: 300px;
  margin: auto;
  display: block;
}
.pricing.pricingBottomMargin {
  padding-bottom: 4rem;
}
@media (max-width: 767px) {
  .pricing .content {
    margin-bottom: 0;
  }
}

.pricing-analytics {
  background-color: var(--thin-gray);
}
.pricing-analytics:after {
  display: none;
}
.pricing-analytics .content .header p {
  margin: 0 0 auto;
}
.pricing-analytics .content .header .badge {
  background-color: transparent;
  padding: 0;
}
.pricing-analytics .content .footer .card-box {
  text-align: left;
  margin-inline: -1.25rem;
}
.pricing-analytics .content .footer .card-box figure {
  margin: 0 0 auto;
}
.pricing-analytics .content .footer .card-box .btn {
  padding-inline: 0;
  justify-content: flex-start;
}

.pricing-faq {
  background-color: var(--bs-white);
}
.pricing-faq:after {
  display: none;
}
.pricing-faq .content .header p a {
  color: var(--body-color);
}
.pricing-faq .content .footer {
  margin-bottom: 4rem;
}
.pricing-faq .content .footer .card-box h3 {
  font-size: 18px;
}
.pricing-faq .cta {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
}
.pricing-faq .cta .btn {
  padding: 15px 19px;
  font-size: 1rem;
  max-height: 48px;
}

.trial .content {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}
.trial .content .header {
  display: flex;
  justify-content: space-between;
}
.trial .content .header .title-para h2 {
  margin-bottom: 1.25rem;
}
.trial .content .header .btn-group {
  max-height: 48px;
}
.trial .content .header .btn-group .btn {
  padding: 11px 28px;
  font-size: 1rem;
}
.trial .content .body ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  max-width: 767px;
}

/*about + team*/
mark {
  font-weight: 400;
  font-size: 16px;
  background: transparent;
  padding: 0;
  color: var(--secondary);
  display: block;
}

.value {
  background-color: var(--thin-gray);
}

.team .content .body .card-box figure {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  overflow: hidden;
  border: 0;
}
.team .content .body .card-box figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.team .content .body .card-box h4 {
  font-weight: 600;
  line-height: 28px;
}

.the-team {
  padding-bottom: 5.938rem;
  position: relative;
}
.the-team:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--bs-gray);
  inset-inline: 0;
  bottom: 0;
  max-width: 1440px;
  margin: auto;
  width: 100%;
}
.the-team .content h1 {
  margin-bottom: 1.5rem;
}
.the-team .team-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.the-team .team-box figure {
  width: 100%;
  height: 296px;
}
.the-team .team-box figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.the-team .team-box p {
  line-height: 24px;
}
.the-team .team-box ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.the-team .team-box ul li a {
  color: #98a2b3;
}
.the-team .team-box ul li a:hover {
  color: var(--secondary);
}

.looking .content .body {
  margin-bottom: 4rem;
}
.looking .content .footer h3 {
  margin-bottom: 2rem;
}
.looking .content .footer .career-box {
  padding: 24px 24px 28px;
  width: 100%;
  min-height: 168px;
  background: var(--bs-white);
  border: 1px solid #EAECF0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
.looking .content .footer .career-box .career-badge {
  font-size: 14px;
  margin: 0;
}
.looking .content .footer .career-box .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.looking .content .footer .career-box .head h4 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.looking .content .footer .career-box .head .badge-group {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.looking .content .footer .career-box .head .badge-group .country-badge {
  background-color: var(--thin-gray);
  color: var(--body-color);
  margin-bottom: 0;
}
.looking .content .footer .career-box .body {
  margin-bottom: 2rem;
}
.looking .content .footer .career-box .footer .career-meta {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.looking .content .footer .career-box .footer .career-meta li {
  display: flex;
  align-items: center;
  gap: 0.56rem;
}
.looking .content .footer .career-box .footer .career-meta li span {
  color: #475467;
  font-weight: 500;
}
.looking .content .footer .job-category {
  margin-bottom: 4rem;
}
.looking .content .footer .job-category:last-child {
  margin: 0;
}
.looking .content .footer .job-category .job-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/*faq*/
.faq-page-sec {
  background-color: var(--bs-white);
  position: relative;
}
.faq-page-sec:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--bs-gray);
  inset-inline: 0;
  bottom: 0;
  max-width: 1440px;
  margin: auto;
  width: 100%;
}
.faq-page-sec .card-box {
  padding: 1rem;
}
.faq-page-sec .body {
  margin-bottom: 4rem;
}
.faq-page-sec .footer .cta {
  background-color: var(--thin-gray);
  border-radius: 16px;
  padding: 2rem;
  text-align: center;
}
.faq-page-sec .footer .cta h3 {
  margin-bottom: 0.5rem;
}
.faq-page-sec .footer .cta figure {
  margin-bottom: 2rem;
}
.faq-page-sec .footer .cta a {
  padding: 0.6rem 0.85rem;
  margin-top: 2rem;
  font-size: 1rem;
}

.cta-faq {
  background-color: var(--bs-white);
}
.cta-faq .body {
  -webkit-padding-before: 5.938rem;
          padding-block-start: 5.938rem;
  -webkit-padding-after: 4rem;
          padding-block-end: 4rem;
}

/*contact*/
.contact {
  -webkit-margin-before: 84px;
          margin-block-start: 84px;
  position: relative;
}
.contact .contactMap {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.contact .contactMap iframe {
  height: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  .contact .contactMap {
    display: none;
  }
}
.contact .contact-box {
  padding: 5rem 0;
}
.contact .contact-box .head {
  margin-bottom: 3rem;
}
.contact .contact-box .head h1 {
  margin-bottom: 1.5rem;
}
.contact .contact-box .head p {
  font-size: 20px;
}
.contact .contact-box label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.contact .contact-box .form-control {
  min-height: 44px;
  padding-inline: 14px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.contact .contact-box textarea.form-control {
  min-height: 134px;
}
.contact .contact-box .form-check {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 1rem;
}
.contact .contact-box .form-check {
  margin-bottom: 2rem;
}
.contact .contact-box .form-check input {
  margin: -0.5rem;
}
.contact .contact-box .form-check label,
.contact .contact-box .form-check label > a {
  color: var(--body-color);
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}
.contact .contact-box .form-check label > a:hover {
  color: var(--primary);
}
.contact .contact-box .submit .btn {
  width: 100%;
  max-height: 48px;
  font-size: 16px;
}
.contact .contact-box .input-group {
  min-height: 44px;
  max-width: 100%;
}
.contact .contact-box .input-group .btn {
  padding: 0px 14px;
  gap: 0.3rem;
  font-size: 1rem;
  font-weight: 400;
}
.contact .contact-box .input-group .btn:hover {
  background-color: transparent;
  color: initial;
}

.location {
  background-color: var(--thin-gray);
}
.location .content .badge {
  padding: 0;
}
.location .content h2 {
  margin-bottom: 0.5rem;
}
.location .content p {
  font-size: 20px;
}
.location h3 {
  margin-bottom: 0.5rem;
}

.contact-list .content {
  margin-bottom: 4rem;
}
.contact-list .content .badge {
  padding: 0;
}
.contact-list .content h2 {
  margin-bottom: 0.5rem;
}
.contact-list .contact-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 24px 48px 24px;
  min-height: 312px;
  width: 100%;
  background: var(--thin-gray);
}
.contact-list .contact-box figure {
  margin-bottom: 4rem;
  width: 48px;
  height: 48px;
  background: var(--secondary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-list .contact-box h3 {
  margin-bottom: 0.3rem;
}
.contact-list .contact-box p {
  margin-bottom: 1.25rem;
}
.contact-list .contact-box a {
  font-weight: 600;
  line-height: 24px;
}
.contact-list .contact-box a:hover {
  color: var(--secondary);
}

.queTooltip {
  position: absolute;
  inset-block: 0;
  margin: auto;
  margin-left: 0.5rem;
  width: 22px;
  height: 22px;
  background: url(../images/que-icon.svg) center center no-repeat;
  display: inline-block;
  vertical-align: sub;
}
.queTooltip:hover .quetool {
  visibility: visible;
}
.queTooltip .quetool {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  font-size: 12px;
  line-height: 1.8;
  text-align: center;
  border-radius: 6px;
  padding: 5px 4px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.privacy-content {
  padding-top: 100px;
}

.table-content {
  top: 100px;
}

.privacy-content p {
  line-height: 28px;
  font-size: 16px;
  color: #000;
  margin-bottom: 1rem;
}

.privacy-content h1,
.privacy-content h2,
.privacy-content h3,
.privacy-content h4,
.privacy-content h5,
.privacy-content h6,
.privacy-content strong {
  margin-bottom: 1rem;
  display: block;
}

.privacy-content strong,
.privacy-content ul li {
  line-height: normal;
  color: #000;
}

.privacy-content .contact {
  margin: 0;
}

.privacy-content ul, .privacy-content ol {
  list-style: inside;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.table-content ul {
  list-style: none;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .trial .content .header {
    flex-direction: column;
    gap: 2rem;
  }
  .trial .content .header .btn-group {
    flex-direction: column;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .trial .content .body ul {
    gap: 1rem;
    justify-content: center;
  }
  .trial .content .body ul li {
    max-width: 50%;
  }
  .trial .content .body ul li figure img {
    width: 100%;
    height: 100%;
  }
  .pricing-faq .cta {
    flex-direction: column;
    gap: 1.5rem;
  }
  .pricing-faq .cta a {
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .contact {
    background: none;
  }
  .location .content {
    margin-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .pad-header {
    padding-top: 9rem;
  }
  .pad-sec {
    padding-block: 4rem;
  }
  .header p {
    font-size: 16px;
  }
  h1,
  h2 {
    font-size: 30px;
  }
  header {
    padding-block: 1.2rem;
  }
  header .navbar ul.main-menu {
    flex-direction: column;
  }
  header .navbar .navbar-brand {
    width: 50%;
  }
  header .navbar .navbar-brand img {
    width: 65%;
  }
  .banner .content p {
    font-size: 18px;
  }
  .banner .content .feature,
  .banner .content .feature > small {
    font-size: 12px;
    gap: 0.5rem;
  }
  .banner .content .btn-group {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
  }
  .banner .content .btn-group a {
    width: 100%;
    display: block;
  }
  .partner .content ul {
    gap: 1.75rem;
  }
  .partner .content ul li {
    flex: 0 0 45%;
    max-width: 45%;
  }
  .partner .content ul li figure img {
    width: 100%;
    height: auto;
  }
  .why .content .header {
    margin-bottom: 3rem;
  }
  .app .content {
    gap: 2.125rem;
  }
  .app .content .btn-group {
    gap: 2.125rem;
    flex-direction: column;
    width: 100%;
  }
  .app .content .btn-group a img {
    width: 70%;
  }
  .analytics .content .body {
    margin-bottom: 3rem;
  }
  .cta .content form .form-text {
    text-align: left;
  }
  .cta .content form .btn {
    width: 100%;
    margin-top: 1rem;
  }
  .cta .content .btn-group {
    flex-direction: column-reverse;
    width: 100%;
  }
  footer {
    text-align: center;
  }
  footer .footer .widget {
    text-align: left;
  }
  footer .copyright {
    padding-block: 1.5rem;
  }
  /*inner pages css*/
  .pricing .content .pkg-badge {
    left: inherit;
    right: 0;
  }
  .pricing .pkg-cta {
    display: none;
  }
  .pricing-analytics .content .header {
    margin-bottom: 2rem;
  }
  .pricing-analytics .content .footer .card-box {
    padding-inline: 0;
    margin: 0;
  }
  /*about + team*/
  .looking .content .footer .career-box .head {
    flex-direction: column;
    align-items: flex-start;
  }
  .looking .content .footer .career-box .head .badge-group {
    flex-direction: row-reverse;
    gap: 0.5rem;
  }
}
.comparsionCTA {
  margin-bottom: 4rem;
}
.comparsionCTA .cta {
  border-radius: 16px;
}

.comparsionPartner:after {
  display: none;
}

.priceComparison {
  padding-top: 2rem !important;
}
.priceComparison .priceTabs .tabHead {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  position: relative;
}
.priceComparison .priceTabs .tabHead:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--bs-gray);
  inset-inline: 0;
  top: 100%;
  max-width: 1440px;
  margin: auto;
  width: 100%;
  margin-top: 47px;
}
@media (max-width: 991px) {
  .priceComparison .priceTabs .tabHead:after {
    display: none;
  }
}
.priceComparison .priceTabs .tabHead .nav-tabs {
  display: flex;
  margin: 0 auto;
  background: #F9FAFB;
  border: 1px solid #F2F4F7;
  border-radius: 8px;
  padding: 0.5rem;
}
@media (max-width: 767px) {
  .priceComparison .priceTabs .tabHead .nav-tabs {
    width: 100%;
  }
}
.priceComparison .priceTabs .tabHead .nav-tabs li .nav-link {
  padding: 0.875rem 1rem;
  font-size: 1rem;
  color: #667085;
  border: 0;
  background: transparent;
}
.priceComparison .priceTabs .tabHead .nav-tabs li .nav-link.active {
  color: #344054;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
}
@media (max-width: 767px) {
  .priceComparison .priceTabs .tabHead .nav-tabs li {
    flex: 1;
  }
  .priceComparison .priceTabs .tabHead .nav-tabs li button {
    width: 100%;
  }
}
.priceComparison .priceComparisonContentHolder {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}
.priceComparison .priceComparisonContentHolder .priceComparsionBlock {
  width: calc(25% - 2rem);
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}
.priceComparison .priceComparisonContentHolder .priceComparsionBlock .pkg-head {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.priceComparison .priceComparisonContentHolder .priceComparsionBlock .pkg-head h4 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.875rem;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  line-height: 30px;
  margin-bottom: 3rem;
}
.priceComparison .priceComparisonContentHolder .priceComparsionBlock .pkg-head h4 .badge {
  margin: 0;
  background: #F9F5FF;
  padding: 5px 10px;
  border-radius: 20px;
  line-height: 20px;
  font-size: 14px;
}
.priceComparison .priceComparisonContentHolder .priceComparsionBlock .pkg-head h2 {
  font-size: 48px;
}
.priceComparison .priceComparisonContentHolder .priceComparsionBlock .pkg-head h2 small {
  font-size: 16px;
  color: #475467;
}
.priceComparison .priceComparisonContentHolder .priceComparsionBlock .pkg-footer .btn-group {
  width: 100%;
}
.priceComparison .priceComparisonContentHolder .priceComparsionBlock .pkg-footer .btn-group .btn {
  width: 100%;
}
@media (max-width: 991px) {
  .priceComparison .priceComparisonContentHolder .priceComparsionBlock .pkg-head h4 {
    margin-bottom: 0;
  }
}
.priceComparison .priceComparisonContentHolder .priceComparisonTable {
  width: 100%;
  margin-top: 2rem;
}
.priceComparison .priceComparisonContentHolder .priceComparisonTable table {
  table-layout: fixed;
  width: 100%;
}
.priceComparison .priceComparisonContentHolder .priceComparisonTable table tr td {
  width: 25%;
  padding: 1rem;
  min-height: 50px;
  text-align: center;
  line-height: 32px;
  border: 1px solid #F9FAFB;
  vertical-align: middle;
  position: relative;
}
.priceComparison .priceComparisonContentHolder .priceComparisonTable table tr td[colspan] {
  background: transparent !important;
  border: 0;
}
.priceComparison .priceComparisonContentHolder .priceComparisonTable table tr td .check {
  width: 22px;
  height: 22px;
  background: url("../images/check-icon.svg") center center no-repeat;
  display: inline-block;
}
.priceComparison .priceComparisonContentHolder .priceComparisonTable table tr td .unCheck {
  width: 22px;
  height: 22px;
  background: url("../images/minus-ison.svg") center center no-repeat;
  display: inline-block;
}
.priceComparison .priceComparisonContentHolder .priceComparisonTable table tr td:first-child {
  text-align: left;
  color: #101828;
  font-weight: 500;
}
.priceComparison .priceComparisonContentHolder .priceComparisonTable table tr td p {
  color: #6941C6;
  margin: 0;
  font-weight: 600;
}
.priceComparison .priceComparisonContentHolder .priceComparisonTable table tr td .btn-group {
  width: 100%;
  margin-top: 2rem;
}
.priceComparison .priceComparisonContentHolder .priceComparisonTable table tr td .btn-group .btn {
  width: 100%;
}
.priceComparison .priceComparisonContentHolder .priceComparisonTable table.table > tbody > tr.stripeBg {
  background: #F9FAFB;
  box-shadow: none;
}
@media (min-width: 992px) {
  .priceComparison .priceComparisonContentHolder .priceComparisonTable.package-basic {
    display: none;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable.package-pro {
    display: none;
  }
}
@media (max-width: 991px) {
  .priceComparison .priceComparisonContentHolder {
    flex-direction: column;
  }
  .priceComparison .priceComparisonContentHolder .priceComparsionBlock {
    width: 100%;
  }
  .priceComparison .priceComparisonContentHolder .priceComparsionBlock.package-free {
    order: 1;
  }
  .priceComparison .priceComparisonContentHolder .priceComparsionBlock.package-basic {
    order: 3;
  }
  .priceComparison .priceComparisonContentHolder .priceComparsionBlock.package-pro {
    order: 5;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable {
    margin-top: 0;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable table {
    table-layout: auto;
    display: block;
    width: 100%;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable table tfoot {
    display: block;
    width: 100%;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable table tfoot tr {
    display: block;
    width: 100%;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable table tfoot tr td {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable table tfoot tr td:first-child {
    display: none;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable.package-free {
    order: 2;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable.package-free table tr td:nth-child(3), .priceComparison .priceComparisonContentHolder .priceComparisonTable.package-free table tr td:nth-child(4) {
    display: none;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable.package-free table tr td:first-child {
    width: 100%;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable.package-basic {
    order: 4;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable.package-basic table tr td:nth-child(2), .priceComparison .priceComparisonContentHolder .priceComparisonTable.package-basic table tr td:nth-child(4) {
    display: none;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable.package-basic table tr td:first-child {
    width: 100%;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable.package-pro {
    order: 6;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable.package-pro table tr td:nth-child(2), .priceComparison .priceComparisonContentHolder .priceComparisonTable.package-pro table tr td:nth-child(3) {
    display: none;
  }
  .priceComparison .priceComparisonContentHolder .priceComparisonTable.package-pro table tr td:first-child {
    width: 100%;
  }
}/*# sourceMappingURL=custom.css.map */