@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css');

:root{
    --primary: #1570EF;
    --primary-light: #EFF8FF;
    --secondary:  #7F56D9;
    --secondary-light: #F4EBFF;
    --secondary-thin: #F9F5FF;
    --body-color: #475467; 
    --heading-color: #101828;
    --bs-gray: #F2F4F7; 
    --light-gray: #D0D5DD; 
    --thin-gray: #F9FAFB; 
    --bs-btn-hover-border-color: #125dc8;
    --inter: 'Inter';
}

html{overflow-x: var(--hidden);scroll-behavior: smooth;}

body{
    color: var(--body-color);
    font-size: 1rem;
    font-family: var(--inter);
    line-height: 1;
    min-width: 375px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.pad-header{
    padding-top: 11.438rem;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--inter);
    line-height: normal;
    color: var(--heading-color);
    margin: 0;
    font-weight: 600;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
    letter-spacing: -.2px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 18px;
    font-weight: 500;
}
h5{
    font-size: 14px;
    font-weight: 600;
}

ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #175CD3;
}
figure{
    margin: 0;
}
p{
    line-height: 32px;
    margin: 0;
}
.alert{
    line-height: 24px;
}
.btn {
    text-align: center;
    position: relative;
    --bs-btn-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 16px 28px;

    &.btn-primary,
    &.btn-outline-primary{
        --bs-btn-bg: var(--primary);
        --bs-btn-border-color: var(--primary);
        --bs-btn-hover-bg: var(--bs-btn-hover-border-color:);
    }
    &.btn-outline-primary{
        background-color: var(--bs-white);
        color: var(--body-color);
        border-color: var(--light-gray);
        
        &:hover{
            background-color: var(--primary);
            color: var(--bs-white);
            border-color: var(--primary);
        }
    }

    &.btn-shadow{
        box-shadow: 4px 10px 20px #0000001F;
    }

    span {
        display: var(--block);
    }

}
.btn-group{
    gap: .75rem;
}
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn.dropdown-toggle-split:first-child, 
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.badge {
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary);
    margin-bottom: 1rem;
    border-radius: 100px;
    &.success{
        background-color: #ECFDF3;
        color: #027A48;
    }
}
.header{
    p{
        font-size: 20px;
        max-width: 767px;
        margin: auto;
    }
}
.pad-sec{
    padding-block: 5.938rem;
}
.accordion {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: auto;
    padding-block: 4.25rem;
    .accordion-item {
        color: var(--heading-color);
        background-color: var(--bs-accordion-bg);
        border: 0;
        border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
        &:last-child{
            border-bottom: 0;
        }
    }
    .accordion-body{
        padding: 0 0 1.5rem 0;
    }
    .accordion-button:not(.collapsed) {
        color: var(--heading-color);
        background-color: transparent;
        box-shadow: none;
    }
    .accordion-button{
        font-size: 18px;
        font-weight: 500;
        padding: 1.5rem 0;
        &::after{
            height: 23px;
        }
    }
    .accordion-button:not(.collapsed){
        &::after {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMiAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcgMTEuNzVIMTVNMjEgMTEuNzVDMjEgMTcuMjcyOCAxNi41MjI4IDIxLjc1IDExIDIxLjc1QzUuNDc3MTUgMjEuNzUgMSAxNy4yNzI4IDEgMTEuNzVDMSA2LjIyNzE1IDUuNDc3MTUgMS43NSAxMSAxLjc1QzE2LjUyMjggMS43NSAyMSA2LjIyNzE1IDIxIDExLjc1WiIgc3Ryb2tlPSIjOThBMkIzIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K);
        }
    }
    
    .accordion-button.collapsed{
        &::after {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMiAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExIDcuNzVWMTUuNzVNNyAxMS43NUgxNU0yMSAxMS43NUMyMSAxNy4yNzI4IDE2LjUyMjggMjEuNzUgMTEgMjEuNzVDNS40NzcxNSAyMS43NSAxIDE3LjI3MjggMSAxMS43NUMxIDYuMjI3MTUgNS40NzcxNSAxLjc1IDExIDEuNzVDMTYuNTIyOCAxLjc1IDIxIDYuMjI3MTUgMjEgMTEuNzVaIiBzdHJva2U9IiM5OEEyQjMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
        }
    }
}

.g-4, .gy-4 {
    --bs-gutter-y: 2rem;
}




.badge-dot {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    line-height: normal;
    &:before {
        content: '';
        width: 7px;
        height: 7px;
        display: inline-block;
        border-radius: 100px;
    }
}

.badge-design {
    color: var(--primary);
    background-color: var(--primary-light);
    &:before {
        background-color: var(--primary);
    }
}

.badge-software {
    color: #C11574;
    background: #FDF2FA;
    &:before {
        background: #EE46BC;
    }
}


.badge-success {
    color: #027A48;
    background: #ECFDF3;
    &:before {
        background: #027A48;
    }
}

.input-group {
    min-height: 48px;
    max-width: 320px;
    margin: auto;
    width: 100%;
    .input-group-text {
        background: transparent;
        padding-right: 0;
        padding-left: 1rem;
        border-radius: 8px;
    }
    input {
        border-left: 0;
        border-radius: 8px;
    }
}


.form-control{
    &:focus {
        border-color: #ced4da;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
    }
}