#root {
    padding: 2rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-cluster {
    width: 30rem;
}

.login-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.login-button, .create-account-button {
    min-width: 14rem;
}

.remember-forgot-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}