p.login-page-message {
    text-align:center;
}

.login-cluster-container {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.login-cluster-header {
    margin-bottom: 30px;
}

input.form-control {
    background-color: rgb(161, 178, 204);
    margin-bottom: 10px;
}