form.onboard-tenant .submit-button {
    background-color:#194185;
    width:100%;
    border:2px outset #194185;
}

form.onboard-tenant .submit-button:hover {
    background-color: #0b5ed7;
}

form.onboard-tenant .form-group {
    margin-bottom:15px;
}

form.onboard-tenant {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
}

#onboard-tenant-form-container::before {
    position:relative;
    top:12px;
    left:10px;
    content: "Tenant Information";
    background-color: white;
    padding: 0 5px;
}