form.send-quote .submit-button {
    background-color:#194185;
    width:100%;
    padding-top: 10px;
    border:2px outset #194185;
    border-radius: 5px;
    text-align: center;
}

form.send-quote .submit-button:hover {
    background-color: #0b5ed7;
}

form.send-quote {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
}

form.date-select {
    padding-bottom: 10px;
    width: 100%;
}

p {
    margin-bottom: 7px;
    margin-top: 7px;
}

form.send-quote {
    width:100%;
    align-items: center;
}

#send-form-container {
    width:100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}