button.role-dropdown {
    background-color:#194185;
    border: 2px outset #194185;
    width:100%;
    margin-bottom:15px;
}

.signup-cluster-container, .role-cluster-container{
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.role-cluster-container{
    display: flex;
}
.sign-up-button-container{
    margin-top: 30px;
}